* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  position: relative;
  background-color: #111;
  color: white;
}

.background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.menu-wrapper {
  display: flex;
  height: 100vh;
  padding-left: 2vh;
}

.menu-panel {
  height: 100vh;
  width: 50vh;
  background-color: rgba(34, 34, 34, 0.9);
  border-right: 4px solid #555;
  padding: 4vh 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

.logo {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 4vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50%;
  margin: 10%;
}

.logo p {
  font-size: 200%;
  margin: 10%;
}

.subtitle {
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 4vh;
  text-align: center;
  color: #8c6bd0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: center;
  font-size: 2vh;
  margin: 2vh;
}

.menu-buttons button {
  width: 100%;
  padding: 1vh;
  margin-bottom: 1vh;
  background-color: #333;
  border: none;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-buttons button:hover {
  background-color: #555;
  color: #8c6bd0;
  cursor: pointer;
}

.menu-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}

.menu-section.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  position: relative;
}

.menu-section.inactive {
  visibility: hidden;
  position: absolute;
}